article {
  p+figure {
    img {
      margin: 2.4em auto;
    }
  }

  video,
  figure {
    width: 100%;
    position: relative;
    margin: 0;

    img {
      margin: 0 auto;
    }

    &:not(:last-child) {
      img {
        margin-bottom: 1.6rem;
      }
    }

    figcaption {
      height: 2.4em;
      line-height: 2.4em;
      font-size: 1em;
      display: inline-block;
      padding: 0 0.4em;
      background-color: rgba(#fff, 0.8);
      position: absolute;
      bottom: 0;
      opacity: 0;
      left: 0;
      max-width: 100%;
      transition: bottom 0.2s ease-out, opacity 0.2s ease-out;

      &:empty {
        display: none;
      }
    }

    picture {
      transition: background-color 0.2s 0.1s ease-out;
    }

    &:hover {
      figcaption {
        opacity: 1;
      }
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
    }

    &:not(:target) {
      .lightbox-off {
        display: none;
      }
    }

    &:target {
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 !important;
      background: -moz-radial-gradient(center,
          ellipse cover,
          rgba($color-text, 0.9) 0%,
          rgba($color-text, 0.6) 100%);
      background: -webkit-radial-gradient(center,
          ellipse cover,
          rgba($color-text, 0.9) 0%,
          rgba($color-text, 0.6) 100%);
      background: radial-gradient(ellipse at center,
          rgba($color-text, 0.9) 0%,
          rgba($color-text, 0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#99000000', GradientType=1);

      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease-out;
      z-index: 1010;
      margin: 0;

      .lightbox-on {
        display: none;
      }

      img {
        animation: fade-in 0.4s ease-out;
        max-width: 90vw;
        max-height: 80vh;
        margin: 0;
      }

      figcaption {
        position: relative;
      }

      picture {
        background-color: #fff;
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      margin-top: -2vmin;
    }

    100% {
      opacity: 1;
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  time {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  h1 {
    margin-bottom: 0;
  }

  blockquote {
    border-left: 5px solid lighten($color-text, 60);
    background-color: lighten($color-text, 85);
    padding: 0.4em 0.8em;
  }

  table {

    &,
    thead,
    tbody {
      width: 100%;
      display: block;
    }

    tr {
      display: flex;
      flex-wrap: wrap;
    }

    th,
    td {
      flex: 1;
      font-weight: 300;
      text-align: center;
      padding: 2em 0;
      background-color: $color-section;
      border: 3px solid #fff;

      img {
        max-width: 2.4em;
        margin: 0 auto 1.4em;
        display: inline;
      }

      @media all and (max-width: $mobile-width) {
        min-width: 50vw;
        max-width: 50vw;
      }

      @media all and (min-width: $mobile-width) {
        min-width: 33%;
        max-width: 33%;
      }
    }
  }

  //// CV page
  [slug="cv"] & {
    max-width: 100%;
    background-color: #d1d1d1;
  }

  iframe {
    width: 100%;
  }
}

.gallery {
  &.cols-1-3 {
    @media all and (min-width: $mobile-width) {
      display: flex;

      :first-child {
        flex: 1;
        padding-right: 1.2rem;
      }

      :last-child {
        flex: 3;
      }
    }
  }
}