footer {
  margin-top: 10vh;

  .contained {
    display: flex;
    align-items: center;

    :last-child {
      margin-left: auto;
    }
  }

  padding: 3vh 0;
  background-color: $color-footer;

  * {
    color: #fff !important;
  }

  .button {
    border-color: #fff;
  }

  //// CV page
  [slug="cv"] & {
    margin-top: 0;
  }
}