.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  figure {
    &:not(:target) {
      max-width: 50%;
      min-width: 300px;
      max-height: 500px;
      flex: 1;
      margin: 1em;
      overflow: hidden;
      box-shadow: 10px 10px 40px darken(#eee, 10),
        -10px -10px 40px lighten(#eee, 10);
      ;
    }
  }

  @media all and (min-width: $mobile-width) {}
}

.portfolio-gallery {
  $font-size: 1.4em;
  $padding: $font-size;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media all and (min-width: $mobile-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row dense;

  .highlight {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  >* {
    min-height: 300px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top: $font-size * 3 solid transparent;
    border-bottom: $font-size/2 solid transparent;
    border-radius: 1em;
    margin: 0.6em;
    font-size: $font-size;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    box-shadow: $soft-shadow;

    &:hover {
      z-index: 10;
    }

    &:not(:hover) {
      background-color: #eee !important;

      a {
        color: #111;
      }
    }
  }

  a {
    text-decoration: none;
    position: absolute;
    top: $padding;
    left: $padding;
    right: $padding;
    bottom: $padding;
    margin-top: -$font-size * 3;
    color: #fff;
  }
}