.hero {
  position: relative;
  z-index: 1010;
  text-align: center;
  height: 900px;
  max-height: 60vh;
  min-height: 350px;
  display: flex;
  align-items: center;
  background: white;
  .inner {
    margin: 0 auto;
  }
  figure {
    position: relative;
    display: inline-block;
    img {
      width: 40vmin;
      min-width: 300px;
    }
    figcaption {
      position: absolute;
      top: 70%;
      left: 55%;
      text-align: right;
      white-space: nowrap;
    }
  }
}
