.recom-container {
    $avatar-size: 4.5em;
    $quote-size: 5em;

    *,
    >li {
        list-style: none;
    }

    .recom {
        display: flex;
        margin: 3em 0;
        max-height: 23em;
        padding: 3em 1.6em 0;
        overflow: hidden;
        transition: margin .2s ease-out,
            padding-top .2s ease-out,
            padding-bottom .2s ease-out,
            max-height .2s ease-out;

        &:not(:first-of-type) {
            border-top: 1px solid $color-section;
        }
    }

    .recom-header {
        text-decoration: none;
        color: $color-text;
        width: 11em;
        margin-right: 1.6em;
        display: block;

        p {
            margin: 0;
        }
    }

    .recom-img {
        border-radius: 100%;
        display: block;
        width: $avatar-size;
        height: $avatar-size;
        background-color: $color-section;
        margin-bottom: .6em;

        &[src$='user.svg'] {
            border: .4em solid transparent;
        }
    }

    .recom-name {
        font-weight: 800;
    }

    .recom-role {
        font-size: .8em;
    }

    .recom-body {
        flex: 1;

        p {
            &:first-child {
                margin-top: 0;

                &:before {
                    content: "\“";
                    font-size: $quote-size;
                    font-family: Georgia,
                        'Times New Roman',
                        Times,
                        serif;
                    opacity: .2;
                    height: .5em;
                    display: inline-block;
                    vertical-align: bottom;
                    margin: -.2em .05em 0 -.2em;
                }
            }
        }
    }

    &:not(:target) {
        .recom:nth-child(n+4) {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            max-height: 0;
            border-color: transparent;
        }

        +.button {
            display: table;
        }
    }

    +.button {
        float: none;
        margin: 1em auto 5em;
        display: none;
    }
}