{{define "main"}}
<main id="main" class="hero">
  <div class="inner">
    <figure>
      <img src="/img/logo.svg" alt="logo" />
      <figcaption>by Goncalo Andrade</figcaption>
    </figure>
    <h5 style="text-align:center">{{ .Site.Params.Tagline | markdownify }}</h5>
  </div>
</main>
{{ partial "nav.html" . }}
<div class="contained">
  <div class="section">
    {{ .Scratch.Set "limit" 6}}
    {{ .Scratch.Set "content" (where (where .Site.Pages "Type" "eq" "portfolio") "Kind" "eq" "page") }}
    {{ .Scratch.Set "mode" "featured" }}
    {{ partial "portfolio.html" . }}
    <a href="/portfolio" class="button">See more of my work</a>
  </div>
  <div class="section">
    <figure class="col-1">
      <picture><img src="/img/post/about-me/me.svg" alt="me"/></picture>
    </figure>
    <div class="col-2">
      {{ with .Site.GetPage "/page/about-me.md" }}
      {{ .Content | replaceRE `<p><img src="[\s\S]*" alt="[\s\S]*" /></p>` ` ` |  safeHTML | truncate 515 }}
      <a class="button" href="https://drive.google.com/open?id=1OzkbJgu5TTaFv54iCHe2MtDCBbsThigw" target="_blank">Get my CV</a>
      <a class="button" href="/about-me">More about me</a>
      {{ end }}
    </div>
  </div>
  <div class="section">
    {{ partial "logos.html" }}
    {{ partial "recommendations.html" . }}
    <h6>And I've written a few articles</h6>
    {{ partial "medium.html" . }}
    <a href="//medium.com/@goncaloandrade" class="button">Read more articles</a>
  </div>
  </div>
    {{ partial "contact.html" . }}
</div>
{{ end }}
