@import "setup/vars", "setup/functions", "setup/fonts", "setup/form";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  &:not(.isHome) {}
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: text-bottom;
  display: block;
}

.contained {
  max-width: $max-width;
  margin: 0 auto;
}

.contained-small {
  max-width: $max-width-small;
  margin: 0 auto;
}

@media all and (min-width: $mobile-width) {
  [class^="col-"] {
    float: left;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  @for $i from 0 to 3 {
    .col-#{$i} {
      width: (100% / (4 - $i));
    }
  }
}

.section {
  clear: both;
  padding-top: $padding;
  padding-bottom: $padding;
}

@import "component/button", "component/nav", "component/related",
"component/strip", "component/share", "component/modal";
@import "part/article", "part/gallery", "part/hero", "part/medium",
"part/footer", "part/contact", "part/recommendations";
@import "special/cv";