@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Light"), local("FiraSans-Light"),
    url("../../content/font/FiraSans-Light.woff2") format("woff2"),
    url("../../content/font/FiraSans-Light.woff") format("woff"),
    url("../../content/font/FiraSans-Light.svg#FiraSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium"), local("FiraSans-Medium"),
    url("../../content/font/FiraSans-Medium.woff2") format("woff2"),
    url("../../content/font/FiraSans-Medium.woff") format("woff"),
    url("../../content/font/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Super Display";
  src: local("GT Super Display Trial Medium"),
    local("GTSuperDisplayTrial-Medium"),
    url("../../content/font/GTSuperDisplayTrial-Medium.woff2") format("woff2"),
    url("../../content/font/GTSuperDisplayTrial-Medium.woff") format("woff"),
    url("../../content/font/GTSuperDisplayTrial-Medium.svg#GTSuperDisplayTrial-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}

html,
input,
textarea {
  font-size: $font-size;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.4em 0 0.2em;
  &,
  a {
    color: $color-text !important;
  }
}

h1,
h2,
h3 {
  font-family: "GT Super Display", Georgia, "Times New Roman", Times, serif;
}

h5 {
  font-weight: 300;
}

h1 {
  font-size: $font-size * 3;
}
h2 {
  font-size: $font-size * 2.85;
}
h3 {
  font-size: $font-size * 2.4;
}
h4 {
  font-size: $font-size * 1.8;
}
h5 {
  font-size: $font-size * 1.4;
}
h6 {
  font-size: $font-size;
}
