input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea {
  font-size: 1.2em;
  padding: 0.4em 0.6em;
  border-radius: $border-radius;
  border: 1px solid rgba($color-primary, 0.2);
}
