$max-width: 1000px;
$max-width-small: 780px;
$mobile-width: 500px;

$nav-height: 65px;

$font-size: 12pt;
$font-size-proportional: 1.4vmin;

$color-text: #111;
$color-primary: #111;
$color-section: #eee;

$color-footer: #37474f;

$padding: 13vmin;
$border-radius: 6px;

$modal-width: 600px;


$soft-shadow: 20px 20px 60px darken(#eee, 10),
-20px -20px 60px lighten(#eee, 10);