{{/*  remove empty paragraphs  */}}
{{ $content := .Content | replaceRE `<p></p>` ``}}

{{/*  rempve paragraphs aroung images  */}}
{{ $content := $content | replaceRE `(<img [^\>]*>)(\n|)<\/p>` `$1`}}
{{ $content := $content | replaceRE `<p>(\n|)(<img [^\>]*>)` `$2`}}

{{/*  wrap images into figure tags  */}}
{{ $content := $content | replaceRE `<img src="([^\"]*)"( alt="([^\"]*)"|)([^>]*)>` `<figure id="$1"><a class="lightbox-on" href="#$1"></a><a class="lightbox-off" href="#-"></a><img src="$1"><figcaption>$3</figcaption></figure>` }}

{{/*  wrap groups of figures into galleries  */}}
{{ $content := $content | replaceRE `(<figure[^\>]*>(<a[^\>]*><\/a>){2}<img[^\>]*><figcaption>[^\>]*><\/figure>(\n|)){2,}` `<div class="gallery">$0</div>` }}

    
{{ $content | safeHTML}}