  <div id="contact" class="modal contact">
    <h4>Don't be shy, say hi</h4>
    <form name="contact" netlify action="javascript:alert('thank you');">
          <label><input placeholder="Name" type="text" name="name" /></label>
          <label><input placeholder="Email" type="email" name="email" /></label>
          <textarea name="content" placeholder="Drop me a line"></textarea>
          <button type="submit" class="button">Send</button>
    </form>
    <a href="#-" class="close"></a>
  </div>