<footer class="">
    <div class="contained">
        <a class="share medium" target="_blank" href="https://medium.com/@goncaloandrade"></a>
        <a class="share linkedin" target="_blank" href="https://www.linkedin.com/in/goncaloandrade/"></a>
        <a class="share dribbble" target="_blank" href="https://dribbble.com/goncaloandrade"></a>
        <a class="share spotify" target="_blank" href="https://open.spotify.com/user/916mgzp3ne5w5rcbjx0gv8mt6?si=z2lehYVPSd-iwxuQULxDBQ"></a>
        <a class="button" href="#contact">Contact me</a>
    </div>
</footer>