<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  {{ $sass := resources.Get "../assets/sass/style.scss"  | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $sass.Permalink }}" type="text/css" />
  {{ partial "seo_schema.html" . }}
  {{ partial "metatags.html" . }}
  {{ partial "fav.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</head>
