  <h5>I've worked with some great brands</h5>
  <div class="strip logos">
    <a style="background-image:url(/img/logos/aviva.svg)"></a>
    <a style="background-image:url(/img/logos/edf.svg)"></a>
    <a style="background-image:url(/img/logos/gq.svg)"></a>
    <a style="background-image:url(/img/logos/john-lewis.svg)"></a>
    <a style="background-image:url(/img/logos/lloyds.svg)"></a>
    <a style="background-image:url(/img/logos/vogue.svg)"></a>
    <a style="background-image:url(/img/logos/uxpa-uk.svg)"></a>
    <a style="background-image:url(/img/logos/adplist.svg)"></a>
  </div>