<!-- Primary Meta Tags -->
{{ $seoTitle := print .Title " on " .Site.Title " | " .Site.Params.Tagline " by Goncalo Andrade"}}

{{ $seoDescription := .Summary | default .Site.Params.Description }}
{{ $seoDescription := .Params.seoDescription | default $seoDescription }}
{{ $seoDescription := $seoDescription | truncate 320 }}

{{ $imageUrl := .Site.Params.imageURL }}
{{ $g := .}}
{{ with .Params.image }}
    {{ $img := (print $imageUrl .) }}
    {{ $img := $img | replaceRE `^([\s\S]*).(jpg|jpeg|png)` `$1.min.$2` }}
    {{ $g.Scratch.Set "og_image" $img }}
{{ else }}
    {{ $g.Scratch.Set "og_image" "og_image.png" }}
{{ end }}
{{ $og_image := .Scratch.Get "og_image"}}


<title>{{ $seoTitle }}</title>
<meta name="title" content="{{ $seoTitle }}" />
<meta name="description" content="{{ $seoDescription }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink | default .Site.Params.absUrl }}" />
<meta property="og:title" content="{{ $seoTitle }}" />
<meta property="og:description" content="{{ $seoDescription}}" />
<meta property="og:image" content="{{ .Site.Params.absUrl }}/{{ $og_image }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Permalink | default .Site.Params.absUrl }}" />
<meta property="twitter:title" content="{{ $seoTitle }}" />
<meta property="twitter:description" content="{{ $seoDescription}}" />
<meta property="twitter:image" content="{{ .Site.Params.absUrl }}/{{ $og_image }}" />