<ul class="portfolio-gallery">
  {{ $content := .Scratch.Get "content" | default .Pages}}
  {{ $limit := .Scratch.Get "limit" | default 99}}
  {{ $mode := .Scratch.Get "mode"}}
  {{ range sort $content .Params.date "desc"}}
    {{ if isset .Params "image" }}
      {{ .Scratch.Set "bg" (print .Params.image) }}
    {{ end }}
    {{ $bg := .Scratch.Get "bg" | default "img/404.svg" }}
    {{ if or (.Params.featured) (ne $mode "featured")}}
      
      <li{{ if eq .Params.highlight true }}
      class="highlight"{{ end }}
      style="
      background-image:url({{ $bg }}); background-color:{{ .Params.color | default "#eee" }}">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>