<h5>What people say about me</h5>
<ul id="recommendations" class="recom-container">
    {{ $content := (where (where .Site.Pages "Type" "eq" "recommendation") "Kind" "eq" "page") }}
    {{ range sort $content .Params.date "desc" }}
    <li class="recom">
        <a class="recom-header" href={{ .Params.linkedin }}>
            <img class="recom-img" src="{{ .Params.image | default "../img/user.svg" }}" />
            <p class="recom-name">{{ .Params.title }}</p>
            <p class="recom-role">{{ .Params.role }}</p>
        </a>
        <div class="recom-body">{{ .Content }}</div>
    </li>
    {{ end }}
</ul>
<a class="button" href="#recommendations">See more</a>