{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<div class="contained-small related-container">
<h5>See Also</h5>

<ul class="portfolio-gallery">
  {{ range . }}
    {{ if isset .Params "image" }}
      {{ .Scratch.Set "bg" (print .Params.image) }}
    {{ end }}
    {{ $bg := .Scratch.Get "bg" | default "img/404.svg" }}
      <li
      style="
      background-image:url({{ $bg }});background-color:{{ .Params.color | default "#eee" }}">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
  {{ end }}
</ul></div>
{{ end }}