.button {
  display: inline-block;
  border: $color-primary solid 1px;
  border-radius: $border-radius;
  padding: 0.8em 1.6em;
  text-decoration: none;
  color: $color-primary;
  float: right;
  .button + & {
    margin-right: 2em;
  }
}
