.modal {
  &:not(:target) {
    display: none;
    top: -15%;
    opacity: 0;
  }

  position: fixed;
  top: 5%;
  left: 50%;
  margin-left: -($modal-width / 2);
  max-height: 90%;
  width: 90%;
  max-width: $modal-width;
  z-index: 1009;
  padding: 1.6em;
  border-radius: $border-radius;
  transition: top 0.2s ease-out, opacity 0.2s ease-out;
  &:before,
  &:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:before {
    background-color: #fff;
    position: absolute;
    z-index: -1;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba($color-text, 0.8);
  }
  &:after {
    background-color: rgba($color-text, 0.6);
    position: fixed;
    z-index: -10;
  }
  h4 {
    margin-top: 0;
  }

  .close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
  }
}
