.share {
  $size: 2rem;
  display: inline-block;
  height: $size;
  width: $size;
  margin-right: $size/2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.medium {
    background-image: url("/img/medium.svg");
  }
  &.linkedin {
    background-image: url("/img/linkedin.svg");
  }
  &.dribbble {
    background-image: url("/img/dribbble.svg");
  }
  &.spotify {
    background-image: url("/img/spotify.svg");
  }
}
