.strip {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  >* {
    height: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    min-width: 12rem;

    @media all and (min-width: $mobile-width) {
      flex: 1;
    }

    @media all and (max-width: $mobile-width) {
      width: 33%;
    }
  }
}

.logos {
  a {
    transition: filter 0.2s ease-out;

    &:not(:hover) {
      filter: grayscale(1);
    }
  }
}