{{ define "main" }}
<article class="contained-small" type="post">
<h1>{{ .Title }}</h1>
{{ partial "dateTime.html" . }}
{{ if isset .Params "image" }}
    <figure id="$1">
        <a class="lightbox-on" href="#$1"></a>
        <a class="lightbox-off" href="#-"></a>
            <img src="{{ .Params.image }}" />
        <figcaption>{{ .Title }}</figcaption>
    </figure>
{{ end }}
{{ partial "articleContent.html" . }}
</article>
{{ partial "related.html" . }}
{{ end }}